﻿<div class="card mt-4">
    <h4 class="card-header">Your Wallet</h4>

    <div class="card-body">
        <h6>history</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            <li *ngFor="let user of users">Amount:  {{user.Valor}}</li>
        </ul>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Evento</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.Datatime }}</td>
                <td>{{ user.Valorant }}</td>
                <td>{{ user.Tipo }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>